@font-face {
  font-family: 'Yrsa';
  src: url('https://fonts.googleapis.com/css2?family=Yrsa:wght@700&display=swap');
  font-weight: bold;
}

@font-face {
  font-family: 'Yrsa';
  src: url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;700&display=swap');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&family=Yrsa:wght@400;700&display=swap');
