input,
textarea {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 20px;
  border-style: none;
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 460px;
}
fieldset{
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  max-width: 470px;
}
label input {
  align-items: center;
}

label b {
  margin-left: 15px;
}
form h2 {
  margin-top: var(--space-big);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 560px;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  margin-top: 10px;
}
.footer {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}
